* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Petrona", serif;
}
/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
} */

.services-head {
  background-image: linear-gradient(
      rgba(114, 61, 8, 0.678),
      rgba(122, 28, 17, 0.603)
    ),
    url(./images/about-pg-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
.services-top-title {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.services-top-title h1 {
  font-size: 5rem;
  letter-spacing: 9px;
  color: #0b0b49;
  opacity: 0.9;
}
.service-text p {
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  margin: 1.2rem;
  padding: 1rem;
}
.process-head {
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #0b0b49;
  font-weight: 600;
}
.process-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.num h4 {
  text-align: end;
  height: 60px;
  width: 60px;
  padding: 1rem;
  border: 2px solid #e6c612;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
}

.num p {
  /* margin: 0.5rem; */
  padding-top: 2rem;
  font-size: 18px;
  font-weight: 600;
  color: #0b0b49;
  text-transform: capitalize;
}
.prices-head h1 {
  text-align: center;
  margin: 1.5rem;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: #0b0b49;
  text-transform: capitalize;
}
.prices-wrapper {
  margin: 4rem;
}
.prices-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
}

.price-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 3rem;
}

.price-list {
  width: 250px;
  height: 350px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border-radius: 10px;
}
.price-list h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #917e11;
  margin-top: 1.3rem;
}

.price-list p {
  text-align: center;
  padding: 1rem;
  color: #0b0b49;
  font-size: 18px;
  font-weight: 600;
}
.plan-wrapper {
  display: flex;
  justify-content: center;
}

.button-48 {
  appearance: none;
  background-color: #0b0b49;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: "Petrona", serif;
  letter-spacing: 0;
  line-height: 1em;
  border-radius: 10px;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: capitalize;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #bdbdc5;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
